@model IEnumerable<EASY_PROGRAMING_PLATAFORM.Models.Alumnos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo_electronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo_electronico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_alumno">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_alumno">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_alumno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
